name: Helm Docs

on:
  push:
    branches:
      - main
    paths:
      - 'charts/**/values.yaml'
      - 'charts/**/Chart.yaml'
      - 'charts/**/README.md.gotmpl'
  pull_request:
    paths:
      - 'charts/**/values.yaml'
      - 'charts/**/Chart.yaml'
      - 'charts/**/README.md.gotmpl'

jobs:
  helm-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run helm-docs
        uses: losisin/helm-docs-github-action@v1
        with:
          git-push: true
          git-commit-message: "docs: update helm docs"
