name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true
          CR_PAGES_BRANCH: main
          CR_INDEX_PATH: index.yaml
          CR_PAGES_INDEX_PATH: index.yaml

      - name: Commit and push index.yaml if changed
        run: |
          if [[ -f "index.yaml" ]]; then
            git add index.yaml
            git diff --cached --quiet || git commit -m "chore: update helm repository index"
            git push origin main
          fi
